<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="pathXML" value="D:\Dirtrab\Proyectos\Fabian\Parametros.xml"/>
    <!--Log-->
    <add key="LogError" value="D:\APPs\Log\"/>
    <!--Nombre Servicio-->
    <add key="NombreServicio" value="Servicio.EjecutarSSIS"/>
  </appSettings>
</configuration>
